.btn {
    border-width: 1px;
    border-style: solid;
    padding: 0.3em 0.3em 0.3em 0.5em;
    border-radius: 0.2em;
}

.btn-lightblue {
    background-color: var(--lightblue);
    border-color: var(--navy);
    color: var(--navy);
}

.btn-blue {
    border-color: var(--blue);
    background-color: var(--blue);
    color: var(--white);
}

.btn-orange {
    background-color: var(--primary-orange);
    color: var(--white);
    border-color: var(--primary-orange);
    box-shadow: inset hsl(25deg 91% 75%) 0 1px 0 0;
}