.btn {
    border-width: 1px;
    border-style: solid;
    padding: 0.3em 0.3em 0.3em 0.5em;
    border-radius: 0.2em;
    line-height: 1.25em;
}

.btn-lightblue {
    background-color: var(--lightblue);
    border-color: var(--navy);
    color: var(--navy);
    fill: var(--navy);

}

.btn-blue {
    border-color: var(--blue);
    background-color: var(--blue);
    color: var(--white);
}

.btn-orange {
    background-color: var(--primary-orange);
    color: var(--white);
    border-color: var(--primary-orange);
    box-shadow: inset hsl(25deg 91% 75%) 0 1px 0 0;
}

.btn-gray {
    border-color: var(--gray-3);
    color: var(--gray-2);
    fill: var(--gray-2);
    background-color: var(--white);
}

.btn-icon {
    display: flex;
    align-items: center;
    gap: 0.2em;
}

.btn-icon svg {
    height: 1em;
}

.btn-text-navy {
    color: var(--navy);
    background-color: var(--gray-6);
    border: 0;
}

.btn-text-navy:hover {
    background-color: var(--lightblue);
}

.btn-transparent:hover {
    background-color: var(--lightblue);
}

.btn-icon {
    display: flex;
    align-items: center;
    gap: 0.2em;
}

.btn-icon svg {
    height: 1em;
}

.btn-icon.gray svg {
    fill: var(--gray-2);
}

.btn-icon.navy svg {
    fill: var(--navy);
}