.flex-start {
    align-items: flex-start;
}

.p1 {
    padding: 1em;
}

.form-style {
    border-radius: 0.3em;
    background-color: var(--gray-6);
    border: 1px solid var(--gray-3);
    width: 700px;
}

.m1 {
    margin: 1em;
}

.p05 {
    padding: 0.5em;
}

.line-height {
    line-height: 1.7em;
}

.btn-transparent {
    color: var(--navy);
}

.font-weight-600 {
    font-weight: 600;
}

.test {
    padding-top: 0.5rem;
    padding-bottom: 0.5em;
    font-size: 13px;
    width: 180px;
    padding-left: 0.5em;
}

body {
    accent-color: var(--blue);
}