@import "./buttons.css";
@import "./inputs.css";

:root {
    --black: #222426;
    --gray-1: #525960;
    --gray-2: #6a737c;
    --gray-3: #9fa6ad;
    --gray-4: #d7d9dc;
    --gray-5: #e4e6e8;
    --gray-6: #f1f2f3;
    --white: #ffffff;
    --white-gray: #f8f9f9;
    --navy: #39739d;
    --dark-blue: #0074cc;
    --blue: #0a95ff;
    --lightblue: #e1ecf4;
    --primary-orange: #f48225;
}

/* nav bar up */

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    accent-color: var(--blue);
}

.top-navbar {
    padding-left: 1em;
    padding-right: 1em;
    background-color: var(--white-gray);
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 5px 0px;
    border-top: var(--primary-orange) solid 3px;
    font-size: 15px;
    column-gap: 0.7em;
}

nav {
    color: var(--gray-2);
}

a {
    text-decoration: none;
    color: inherit;
}

.search-input {
    width: 50vw;
}

.top-navbar__search-button,
.logo-square {
    display: none;
}

/* side nav bar */

.side-navbar {
    min-height: 100vh;
    width: 160px;
    left: 0;
    background-color: var(--white);
    font-size: 15px;
    overflow-x: hidden;
    padding-top: 17px;
    padding-left: 4em;
    border-right: solid 1px var(--gray-4);
}

nav ul {
    list-style-type: none;
    display: inline;
}

.sidebar-item--active {
    background-color: var(--gray-6);
    border-right: solid 2px var(--primary-orange);
    font-weight: 600;
}

.teams-card {
    border-left: solid 0.5px var(--gray-3);
    border-top: solid 0.5px var(--gray-3);
    border-bottom: solid 0.5px var(--gray-3);
    border-bottom-left-radius: 0.1em;
    border-bottom-right-radius: 0.1em;
    padding: 0 1em 1em 1em;
}

.sidebar-item {
    padding-left: 1.5em;
    line-height: 2em;
}

/* main */

main {
    width: 60%;
}

h1 {
    font-size: 25px;
    font-weight: normal;
}

.filter-question .btn {
    border-radius: 0;
}

.filter-question .btn:first-child {
    border-bottom-left-radius: 0.2em;
    border-top-left-radius: 0.2em;
}

.filter-question .btn:nth-last-child(2) {
    border-bottom-right-radius: 0.2em;
    border-top-right-radius: 0.2em;
}

.summary {
    width: 10%;
    color: var(--gray-2);
    flex-shrink: 0;
    font-size: 14px;
    margin-right: 1em;
}

.summary p:first-child {
    margin: 0;
}

.summary p:first-child {
    margin: 0;
}

h2 {
    font-size: 20px;
    font-weight: normal;
    color: var(--blue);
    margin: 0;
}

h2 a:visited {
    color: var(--dark-blue);
}

.post-summary {
    gap: 1em;
    margin: 0;
    padding: 0;
}

.post-summary a {
    color: var(--blue);
}

.article-tag {
    border: 0;
}

/* aside */

aside {
    background-color: hsl(47deg 87% 94%);
    width: 300px;
    height: 600px;
    border-radius: 0.1em;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 5px 0px;
    border: 1px solid hsl(46deg 65% 84%);
    padding: 0 1em 1em 0;
    margin: 1.5em;
}

aside header {
    margin-top: 0;
    padding-top: 0;
    width: 100%;
    background-color: hsl(46deg 87% 91%);
    border: 1px solid hsl(46deg 65% 84%);
    padding: 0.5em;
}

/* icons */

aside .text-with-icon svg {
    width: 0.8em;
}

.text-with-icon {
    position: relative;
}

.text-with-icon svg {
    position: absolute;
    width: 1em;
    fill: currentColor;
}

.text-with-icon--left svg {
    left: -1.40em;
}

.text-with-icon--right svg {
    right: 1em;
}

.text-with-icon--top {
    top: 0;
}

.text-with-icon--center svg {
    top: 50%;
    transform: translateY(-50%);
}

/* form  */

.filtering-form {
    border-radius: 0.3em;
    background-color: var(--gray-6);
    border: 1px solid var(--gray-3);
}

.filtering-form input[type="text"] {
    width: 180px;
}

/* making the page responsive */

@media screen and (max-width: 1200px) {
    .top-navbar {
        justify-content: space-between;
    }

    .search-input {
        width: 30vw;
    }

    .side-navbar {
        padding-left: 0.5em;
        padding-right: 1em;
    }

    main {
        width: 90%;
    }
}

@media screen and (max-width:1020px) {
    aside {
        display: none !important;
    }
}

@media screen and (max-width:860px) {
    .top-navbar__item {
        display: none;
    }

    #productNavItem {
        display: block;
    }

    .filter-question .btn:nth-last-child(3),
    .filter-question .btn:nth-last-child(4) {
        display: none;
    }

    .filtering-form div {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 650px) {

    .top-navbar form,
    .logo-full {
        display: none;
    }

    .top-navbar__search-button,
    .logo-square {
        display: block;
    }
}

@media screen and (max-width:600px) {
    .side-navbar {
        display: none;
    }

    main {
        width: 100%;
    }

    .main__section {
        padding-left: 1em;
        padding-right: 1em;
    }

    .filtering-controls {
        flex-direction: column;
        margin-bottom: 0.5em;
    }
}