:root {
    --black: #222426;
    --gray-1: #525960;
    --gray-2: #6a737c;
    --gray-3: #9fa6ad;
    --gray-4: #d7d9dc;
    --gray-5: #e4e6e8;
    --gray-6: #f1f2f3;
    --white: #ffffff;
    --white-gray: #f8f9f9;
    --navy: #39739d;
    --dark-blue: #0074cc;
    --blue: #0a95ff;
    --lightblue: #e1ecf4;
    --primary-orange: #f48225;
}