.flex {
    display: flex;
}

.flex-end {
    justify-content: flex-end;
}

.flex-wrap {
    flex-wrap: wrap;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.relative {
    position: relative;
}

.gap {
    gap: 1em;
}

.mb-0 {
    margin-bottom: 0;
}

.br-left {
    border-bottom-left-radius: 0.2em;
    border-top-left-radius: 0.2em;
}

.br-right {
    border-bottom-right-radius: 0.2em;
    border-top-right-radius: 0.2em;
}

.padding-027 {
    padding: 0 2.7em;
}

.font-size18px {
    font-size: 18px;
}

.font-weight-light {
    font-weight: light;
}

.padding-left3 {
    padding-left: 3rem;
}

.mr-03 {
    margin-right: 0.3em;
}