.flex {
    display: flex;
}

.flex-end {
    justify-content: flex-end;
}

.flex-wrap {
    flex-wrap: wrap;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.align-text-center {
    text-align: center;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.mb-0 {
    margin-bottom: 0;
}

.padding-02 {
    padding: 0 2em;
}

.padding-left3 {
    padding-left: 3rem;
}

.font-size18px {
    font-size: 18px;
}

.font-12 {
    font-size: 12px;
}

.font-14 {
    font-size: 14px;
}

.font-15 {
    font-size: 15px;
}

.font-weight-light {
    font-weight: light;
}

.mr-03 {
    margin-right: 0.3em;
}

.ml1 {
    margin-left: 1em;
}

.pad-0508 {
    padding: 0.5em 0.8em;
}

.pt1 {
    padding-top: 1em;
}